.pot{
  background-image: url(../images/pot.jpeg);
  height: 120px;
}




.cardTop{
  background-image: url(https://www.ikea.com.tw/dairyfarm/tw/images/127/0712766_PE729003_S4.jpg);
  height: 200px;
}

.salePrice {
  display: inline-block;
  padding: .5rem;
  background-color: #fd0; 
  box-shadow: 3px 3px #c00; 
}